@{
    ViewData["Title"] = "Home";
}

<div class="text-center mt-5">
    <h1 class="fw-bold text-theme">Welcome to ClaimEase</h1>
    <p class="lead">Contract Monthly Claim Prototype</p>
    <p class="mb-5">Choose a role below to continue</p>
</div>

<div class="row text-center">
    <div class="col-md-3">
        <div class="card-custom">
            <div class="card-body">
                <h5 class="mt-3">Lecturer</h5>
                <a asp-controller="Lecturer" asp-action="LecturerPage" class="btn btn-theme mt-2">Go</a>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card-custom">
            <div class="card-body">
                <h5 class="mt-3">Coordinator</h5>
                <a asp-controller="Coordinator" asp-action="VerifyClaims" class="btn btn-theme mt-2">Go</a>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card-custom">
            <div class="card-body">
                <h5 class="mt-3">Manager</h5>
                <a asp-controller="Manager" asp-action="ApproveClaims" class="btn btn-theme mt-2">Go</a>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card-custom">
            <div class="card-body">
                <h5 class="mt-3">HR Report</h5>
                <a asp-controller="Hr" asp-action="ApprovedClaimsReport" class="btn btn-theme mt-2">Go</a>
            </div>
        </div>
    </div>
</div>